*.qmd
*.geojson
*.xml
*.qgz
*.cpg
*.shx
*.prj
*.fgb
*.gpkg
*.gpkg-shm
*.gpkg-wal
*.xls
*.xlsx
*.dta
*.gpkg
/*
!.gitignore
!/scripts
/scripts/_old
/logs
*.dbf
*.cpg
*.shp
*.shx
*.prj
*.svg
*.png
*.pyc
*.qgz
*.dbf
*.xls
*.xlsx
*.dta
*.docx
*.pdf
*.gph
*.csv
*.tsv
*.shp
*.shf
*.dbf
*.db
*.json
*.html
*.png
*.rar
*.zip
*.m4a
*.mpeg
*.avi
*.mp3
*.mkv
*.mp4
*.pyc
*.Rproj.user
*.lnk
*.log
*.jpg
*.h5
*.tif
*.hdf5

